fastapi==0.68.0
uvicorn==0.12.2
sagemaker
numpy 
pandas 
statsmodels 
matplotlib
mysql
asyncio
typing
sqlalchemy
pydantic
boto3
jose
datetime
pyspark
time
uuid
botocore
httpx
snowflake-connector-python
